HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

bin
bak
.pmd
.idea.xml
*.class
*.bak
null/
tree.log
tmp/
velocity.log
.DS_Store
.m2

# gradle related ignore in sub directories
.gradle
build
out

/target/

.mvn
mvnw.cmd
mvnw
logs/
log/
apilogs/
.flattened-pom.xml
*/.flattened-pom.xml
*/target/
*/logs/
*/log/
*/bllog/
/bllog/
geologs/
/geologs/

### NetBeans ###
/build/
\.DS_Store